<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/ContactUs.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="contact-us">
      <div class="span4"></div>
      <div class="span5"></div>
      <div class="span6"></div>
      <div class="light-bar"></div>
      <div class="visuals">
        <img class="visuals-child" alt="" src="./static/public/rectangle-17.svg" />
      </div>
      <div class="contact-us-inner">
        <div class="group-wrapper">
          <div class="group-wrapper">
            <div class="full-name-parent">
              <div class="full-name">Full Name</div>
              <img class="instance-child" alt="" src="./static/public/vector-1.svg" />
            </div>
            <div class="full-name-group">
              <div class="full-name">E-mail</div>
              <img class="instance-child" alt="" src="./static/public/vector-11.svg" />
            </div>
            <div class="full-name-container">
              <div class="full-name">Message</div>
              <img class="instance-child" alt="" src="./static/public/vector-12.svg" />
            </div>
            <div class="contact-us-wrapper">
              <div class="contact-us1"><a style="color: White; text-decoration: None;" href="{{ url_for('home') }}">Send</a></div>
            </div>
          </div>
        </div>
      </div>
      <img
        class="unsplashtyandmpxwhc-icon"
        alt=""
        src="./static/public/unsplashtyandmpxwhc@2x.png"
      />

      <div class="footer11"></div>
      <div class="all-rights-reserved11">© 2023 All Rights Reserved</div>
      <b class="contact-us2">Contact Us</b>
    </div>
  </body>
</html>
