<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/Extract.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="extract">
      <div class="footer"></div>
      <img class="extract-child" alt="" src="./static/public/rectangle-17.svg" />

      <div class="all-rights-reserved">© 2023 All Rights Reserved</div>
      <b class="information-extraction">Information Extraction</b>
      <b class="world-class-accuracy">World-class Accuracy</b>
      <div class="teams-of-ai">
        Teams of AI experts constantly work on ways to improve already unmatched
        accuracy.
      </div>
      <b class="self-learning">Self-learning</b>
      <div class="feedback-loop-created">
        Feedback loop created that ensures AI models continue to learn and
        improve over time.
      </div>
      <img class="image-4-icon" alt="" src="./static/public/image-4@2x.png" />
    </div>
  </body>
</html>
