<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./static/global.css" />
    <link rel="stylesheet" href="./static/Platform.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Itim:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="platform3">
      <img class="platform-child" alt="" src="./static/public/rectangle-13.svg" />

      <img class="platform-item" alt="" src="./static/public/ellipse-3.svg" />

      <div class="span2"></div>
      <div class="span3"></div>
      <div class="footer9"></div>
      <div class="navbar-023">
        <div class="platform4"><a style="color: White; text-decoration: None;" href="{{ url_for('platform') }}">Platform</a></div>
        <div class="products3"><a style="color: White; text-decoration: None;" href="{{ url_for('products') }}">Products</a></div>
        <div class="about-us3"><a style="color: White; text-decoration: None;" href="{{ url_for('aboutus') }}">About Us</a></div>
        <div class="home3"><a style="color: White; text-decoration: None;" href="{{ url_for('home') }}">Home</a></div>
        <img class="navbar-02-inner" alt="" src="./static/public/rectangle-5.svg" />
        <div class="privacy-policy3"><a style="color: White; text-decoration: None;" href="{{ url_for('privacypolicy') }}">Privacy Policy</a></div>
      </div>
      <b class="our-seamless-end-to-end-container">
        <span>Our Seamless end-to-end document automation process.</span>
        <span class="exposed"> Exposed!</span>
      </b>
      <div class="all-rights-reserved9">© 2023 All Rights Reserved</div>
      <img class="platform-inner" alt="" src="./static/public/ellipse-2.svg" />

      <b class="b">1</b>
      <b class="b1"> 2</b>
      <b class="ingest3"><a style="color: black; text-decoration: None;" href="{{ url_for('ingest') }}">Ingest</a></b>
      <b class="pre-processing2"><a style="color: black; text-decoration: None;" href="{{ url_for('preprocessing') }}">Pre-processing</a></b>
      <img class="platform-child1" alt="" src="./static/public/ellipse-3.svg" />

      <b class="classify1"><a style="color: black; text-decoration: None;" href="{{ url_for('classify') }}">Classify</a></b>
      <img class="platform-child2" alt="" src="./static/public/ellipse-3.svg" />

      <b class="b2">4</b>
      <b class="extract1"><a style="color: black; text-decoration: None;" href="{{ url_for('extract') }}">Extract</a></b>
      <b class="b3">3</b>
    </div>
  </body>
</html>
